.main {
    background-color: #0c0c0c;
    height: 70vh;
    margin: 50px;
    display: flex;
    padding: 10px;
 
}

.roulete,
.blackjack,
.slot,
.minesweeper,
.more {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 10px;
}

.roulete {
    height: 32vh;
    flex: 100%;
    background-color: #272727;

}

.blackjack,
.slot {
    height: 67vh;
    flex: 33%;
    background-color: #272727;


}

.more,
.minesweeper {
    height: 32vh;
    flex: 50%;
    background-color: #272727;


}

.inside {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;

}

.insidein {
    display: flex;
    flex: 100%;
}















:root {
    --backgroundColor: #272727;
    --rouletteColor: #545454;
}


.roulette {
    position: relative;
    width: 160px;
    aspect-ratio: 1;
    background-image:
        radial-gradient(closest-side, var(--backgroundColor) 44%, var(--rouletteColor) 45% 47%, transparent 48% 61%, var(--rouletteColor) 62% 64%, var(--backgroundColor) 65% 95%, var(--rouletteColor) 96% 97%, var(--backgroundColor) 100%),
        repeating-conic-gradient(#0c0c0c 0deg 7deg, var(--rouletteColor) 8deg 9deg, rgba(123, 44, 191, 1) 10deg 17deg, var(--rouletteColor) 18deg 19deg, #0c0c0c 20deg);
    animation: roulette 3s infinite linear;
    animation-play-state: paused;
}

.roulete:hover .roulette {
    animation-play-state: running;
}

@keyframes roulette {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.roulette::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    aspect-ratio: 1;
    background-image:
        radial-gradient(var(--rouletteColor) 20%, transparent 21%),
        linear-gradient(transparent 45%, var(--rouletteColor) 46% 54%, transparent 55%),
        linear-gradient(90deg, transparent 45%, var(--rouletteColor) 46% 54%, transparent 55%);
    animation: rouletteCenter 1s infinite linear;
    animation-play-state: paused;
    transform: translate(-50%, -50%);
}

.roulete:hover .roulette::before {
    animation-play-state: running;
}

@keyframes rouletteCenter {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.roulette::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 10%;
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--rouletteColor);
    transform-origin: 50% 450%;
    animation: rouletteBall 2s infinite linear;
    animation-play-state: paused;
    transform: translate(-50%, -50%);
}

.roulete:hover .roulette::after {
    animation-play-state: running;
}

@keyframes rouletteBall {
    from {
        transform: translate(-50%, -50%) rotate(0deg) translateY(0%);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg) translateY(0%);
    }
}