/* Tutaj wspólne (kolor tła, cały header + nav) */
body {
    margin: 0;
    height: 100%;
    background-color: #6c757d;
    font-family: "Lexend", sans-serif;
}
header {
    width: 100vw;
    height: 7.5vh;
    background-color: #212529;
    position: absolute;
    display: flex;
    transition-duration: 0.5s;
    overflow: hidden;
    
}

header:hover {
    height: 15vh;
}
header:hover .logo {
    font-size: 10vh;
   
}
.leftContainer {
    width: 50vw;
    
}
.rightContainer {
    width: 50vw;
   
    
}
.logo {
    color: white;
    font-size: 7.5vh;
    transition-duration: 0.5s;
}
.accountbar {
    height: 7.5vh;
    width: 60%;
    display: flex;
    justify-content: space-between;
    
    
}
nav {
    height: 7.5vh;
    width: 60%;
    float: right;
    background-color: #495057;
    
    -webkit-clip-path: polygon(0 0, 0 0%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(30% 0, 0 100%, 100% 100%, 100% 25%, 100% 0);
    
}
