body, html {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif; 
	
}

.roulette-container {
	height: 80px;
	width: 50%;
	display: block;
}

.roulette-container .wrap {
	display: block;
	width: 100%;
	height: 100%;
	transition: background-position 5s;
	transition-timing-function: easeOutQuint;
	background-image: 	url("roulette.png");
	background-repeat: repeat-x;
	min-width: 100%;
	background-size: cover;
	background-position: 0px;
}

.roulette-container .wrap .controller {
  display: block;
  width: 5px;
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
 
}
.wrap{
	box-shadow: #272727 inset 5px 5px 20px 10px ;
	border-radius: 10px;
}



.color-beted {
  display: inline-block;
  padding: 15px 15px;
  background-color: #424242;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

.color-beted.r {
  background-color: #272727;
}

.color-beted.g {
  background-color: #5a189a;
}
.main{
background-color: #0c0c0c;
width: 100%;
height: 600px;
display: flex;
margin-top: 30px;
justify-content: center;
align-items: center;
}
.roulette{
display: flex;
justify-content: center;
align-items: center;
flex: 100%;
justify-items: center;

}
/* "green": [2,3,0,1],
"red": [18, 19,20,21,10,11,12,13,14,15,16,17],
"black": [8,9,4,5,6,7]*/
table
{

border-collapse: collapse;

	
}
.chip_container{
	height: 80px;
	background-color: pink;
	width: 300px;
	display: flex;
	justify-content: space-around;	
	align-items: center;
}
.chip {
    width: 25px;            /* Szerokość chipu */
    height: 25px;           /* Wysokość chipu */
    border-radius: 50%;     /* Okrągły kształt */
    background-color: #3498db; /* Kolor tła chipu (można zmienić) */
    border: none;           /* Brak obramowania */
    display: flex;          /* Użycie flexbox do wyrównania zawartości */
    align-items: center;    /* Wyrównanie zawartości w pionie */
    justify-content: center;/* Wyrównanie zawartości w poziomie */
    color: white;           /* Kolor tekstu */
    font-size: 10px;        /* Rozmiar czcionki */
    font-weight: bold;
	transition-duration: 0.5s;    
	outline: none;
	
}
.chip:hover{
	background-color: #5a189a;

}

td{
	border-collapse: collapse;
	border: white solid 2px;
	padding: 20px;
	color: white;
	text-align: center;
}

.black{
	background-color: #000000;
}
.red{
	background-color: #ff0000;

}
.green{
	background-color: forestgreen;
}
.empty{
	border: none;
}