.container {
    height: 92.5vh;
    margin-top: 7.5vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: rgb(152,103,255);
    background: radial-gradient(circle, rgba(152,103,255,1) 0%, rgba(97,44,255,1) 100%);
}
.logoBar {
    color: white;
    height: 7.5vh;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    font-weight: 900;
    transition-duration: 0.5s;
}
.logoBar:hover {
    text-shadow: 0 0 15px rgb(123, 44, 191);
}
.dealersTable {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playersTable {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.actionBar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.station {
    margin-top: 20px;
    height: 35vh;
    width: 15vw;
    color: white;
    text-align: center;
    background-color: hsla(221 100% 0% / 0.5);
    border-radius: 20px;
    transition-duration: 0.2s;
}
.stationSelected {
   box-shadow: 0 0 15px white;
   scale: 1.05;
}
h1 {
    font-weight: 900;
    margin: 0;
    font-size: 25px;
}
.cardTotal {
    font-size: 20px;
    font-weight: 700;
}
.cardDisplay {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.betValue {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.actionBtn {
    text-shadow: 0 0 10px black;
    height: 8vh;
    width: 8vh;
    border: 5px solid #272727;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 100%;
    transition-duration: 0.2s;
    cursor: pointer;
}
.actionBtn:hover {
    scale: 1.05;
    border-color: #545454;
}
.actionBtn:active {
    border-color: white;
}
#hitBtn {
    background-color: greenyellow;
}
#splitBtn {
    background-color: yellow;
}
#doubleBtn {
    background-color: orange;
}
#standBtn {
    background-color: red;
}
