                                            /* zoabcz jak to header działa bo tu nie przesówa strony, a i coś w głównym cssie jest rozjebane i psuje tutaj */
.mainContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: -1;
}
main {
    width: 65vw;
    height: 75vh;
    margin-top: 10vh;
    background-color: #343a40;
    border-radius: 10px;
}
.logobar {
    height: 8vh;
    width: 65vw;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5vh;
    font-weight: 800;
    text-shadow: 3px 3px #5a189a;
}   
.gameContainer {
    display: flex;
}
aside {
    height: 67vh;
    width: 20vw;
    padding-left: 50px;
    padding-right: 50px;
}
label {
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px #5a189a;
    font-size: 20px;
    margin-top: 20px;
}
.betBar {
    background-color: #212529;
    padding: 10px;
    border: 1px solid #545454;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.betInput {
    width: 250px;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}
.betInput::-webkit-inner-spin-button,
.betInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.changeInputBtn {
    height: 45px;
    width: 35px;
    text-align: center;
}
.betBtn {
    width: 250px;
}
.display {
    width: 45vw;
    height: 67vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    border-spacing: 15px;
}
td {
    width: 100px;
    height: 100px;
    background-color: gray;
    text-align: center;
    border-radius: 10px;
}
img {
    height: 7.5vh;
    width: auto;
    border-radius: 0;
}

